.at_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.at_container > h1 {
    margin: 70px;
}

.at_qr {
    background-color: black;
    color: white;
    padding: 20px;
    /* bottom: 50px; */
    /* position: absolute; */
    border: none;
    border-radius: 10px;
    margin: 40px 0 40px 0;
    width: 300px;
}

.at_qr:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.at_success {
    background-color: rgb(134, 194, 134);
    border-radius: 10px;
    height: 35px;
    display: flex;
    padding: 10px 30px;
    align-items: center;
    width: calc(80vw - 20px);
    max-width: 380px;
}

.at_new_input_card {
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
}

.at_video {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 60vw;
}

.at_new_input {
    border-radius: 10px;
    padding: 15px 20px;
    border: 1px solid rgba(0,0,0,0.4);
    outline: 0;
    box-shadow: 0 3px 3px rgba(0,0,0,0.3);
    margin: 10px;
    max-width: 400px;
    width: 80vw;

}

.at_submit {
    background-color: black;
    color: white;
    padding: 10px;
    width: 150px;
    border: none;
    border-radius: 10px;
    margin: 10px;
}

.at_submit:hover {
    transform: scale(1.1);
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .at_title {
        font-size: 1.5rem;
        margin: 50px 0px !important;
    }
}