footer {
    width: 100vw;
    max-width: calc(100% - 100px);
    padding: 20px 50px;
    height: 12vh;
    background-color: rgba(0, 0, 0, 0.269);
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: 260px;
    margin-top: auto !important;
}

footer > p > a {
    text-decoration: none;
    font-weight: 800 !important;
    color: black;
}