footer {
    width: 100vw;
    max-width: calc(100% - 100px);
    padding: 20px 50px;
    height: 10vh;
    background-color: rgb(226, 226, 226);
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
}

footer > p > a {
    text-decoration: none;
    font-weight: 800 !important;
    color: black;
}