.htu_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(240, 240, 240, 0.153);
    border-radius: 15px;
    max-width: 90vw !important;
}

a {
    color: gray;
}

.htu_topic {
    text-align: center;
}

.htu_highlight {
    font-size: larger;
    color: rgb(0, 0, 0);
}

.htu_width_image { 
    max-width: 60vw;
    height: auto !important;
}

.mp_explanation_topic_title {
    text-align: center;
    padding: 20px 0 50px 0;
}

.htu_container > div {
    max-width: 80vw;
    position: relative;
    padding-left: 50px;
    padding-right: 50px;
    width: calc(80vw - 100px);
    text-align: left;
}

.htu_wrapper > h1 {
    margin: 80px;
    margin-top: 80px;
}

.htu_container > h2 {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    width: calc(80vw - 40px);
}

.htu_container > h2:hover {
    cursor: pointer;
    background-color: rgba(240, 240, 240, 0.249) !important;
}

.htu_container > img {
    height: 60vh auto;
    max-width: 80vw;
    margin-bottom: 20px;
}

.htu_wrapper > div {
    margin-bottom: 50px
}

.htu_wrapper {
    margin-left: 40px;
    margin-right: 40px;
}