.mp_container {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
    flex-direction: column;
}

.mp_title {
    margin: 20px;
}

.mp_action_btn_group {
    display: flex;
    width: 400px;
    max-width: 80vw;
    justify-content: space-between;
}

.mp_get_started_reverse_btn {
    width: 400px !important;
    max-width: 80vw;
    align-self: center;
}

.mp_action_btn_group > * {
    width: 180px !important;
    max-width: calc(40vw - 10px) !important;
}

.mp_title_card {
    animation: godown 2s;
    max-width: 850px;
}

.mp_get_help_btn, .mp_get_started_btn, .mp_get_started_reverse_btn {
    animation: goup 2s forwards;
    z-index: -1;
}

@media screen and (max-width: 520px) and (min-width: 480px) { 
    .mp_action_btn_group, .mp_get_started_reverse_btn {
        max-width: calc(520px * 0.8) !important;
        width: calc(520px * 0.8) !important;
    }

    .mp_get_started_btn {
        max-width: calc(520px * 0.8) !important;
        min-width: calc(520px * 0.8) !important;
    }

    .mp_action_btn_group {
        flex-direction: column;
    }
}

@media screen and (max-width: 480px){ 
    .mp_action_btn_group, .mp_get_started_reverse_btn {
        max-width: 90vw !important;
        width: 90vw !important;
    }

    .mp_get_started_btn {
        max-width: 90vw !important;
        min-width: 90vw !important;
    }

    .mp_action_btn_group {
        flex-direction: column;
    }
}

@media screen and (max-width: 440px){ 
    .mp_container {
        margin-bottom: 70px;
    }
}

@media screen and (max-width: 850px){ 
    .mp_title_card {
        animation: godown 2s;
        max-width: 80vw;
        margin-bottom: 50px;
    }
}

@keyframes godown {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    80% {
        opacity: 1;
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes goup {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    80% {
        opacity: 1;
        z-index: -1
    }

    100% {
        transform: translateY(0);
        z-index: 1;
    }
}

.mp_title_card > h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}

.mp_button_group {
    display: flex;
    flex-direction: column;
}

.mp_get_started_btn {
    margin-top: 20px;
    padding: 10px;
    border: none;
    background-color: rgba(255, 255, 255, 0.381);
    color: black;
    border-radius: 10px;
    width: 250px;
}

.mp_get_started_reverse_btn {
    margin-top: 20px;
    padding: 10px;
    border: none;
    background-color: rgba(0, 0, 0, 0.806);
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    width: 250px;
}

.mp_explanation_page_wrapper > div {
    margin-bottom: 50px
}

.mp_explanation_page_wrapper {
    margin-bottom: 20vh;
}

.mp_title:hover {
    cursor: pointer
}

.mp_title_desc:hover {
    cursor: pointer
}

.mp_get_help_btn {
    margin-top: 20px;
    padding: 10px;
    border: none;
    background-color: white;
    color: black;
    border: 1px solid rgba(0,0,0,0.4);
    outline: 0;
    box-shadow: 0 3px 3px rgba(0,0,0,0.3);
    border-radius: 10px;
    width: 250px;
}

.mp_get_help_btn:hover {
    transform: scale(1.1) !important;
    cursor: pointer;
}

.mp_get_started_btn:hover {
    transform: scale(1.1) !important;
    cursor: pointer;
}

.mp_get_started_reverse_btn:hover {
    transform: scale(1.05) !important;
    cursor: pointer;
}

.mp_start_page_wrapper {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 60vh;
    margin-top: 10vh;
    margin-bottom: 30vh;
    align-items: center;
}

.mp_input_forms {
    display: flex;
    justify-content: center;
}