.pt_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pt_container > h1 {
    margin: 70px;
}

.pt_file_list_title {
    margin: 30px;
    margin-bottom: 10px;
}

.pt_download_hint {
    margin-bottom: 30px;
}

.pt_download_links > .pt_link_wrapper:not(:first) {
    margin-top: 30px;
}

.pt_download_links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pt_gray {
    color: rgb(73, 73, 73);
}

.pt_link_wrapper {
    width: 80vw;
    background-color: rgba(0, 0, 0, 0.098);
    padding: 20px 40px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.pt_link_wrapper:hover {
    background-color: rgba(205, 205, 205, 1.0);
    cursor: pointer;
}

.pt_blockchain_secured {
    background-color: rgba(10, 161, 90, 0.308) !important;
}

.pt_blockchain_secured:hover {
    background-color: rgba(10, 161, 91, 0.6) !important;
}

.pt_empty_links {
    margin: 40px;
}

.pt_download_links > a {
    margin: 10px;
}

.pt_download_links {
    margin-bottom: 30px;
}

.pt_success {
    background-color: rgb(134, 194, 134);
    border-radius: 10px;
    height: 35px;
    display: flex;
    padding: 10px 30px;
    align-items: center;
    width: calc(80vw - 20px);
    max-width: 380px;
}

.pt_new_input_card {
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
}

.pt_new_input {
    border-radius: 10px;
    padding: 15px 20px;
    border: 1px solid rgba(0,0,0,0.4);
    outline: 0;
    box-shadow: 0 3px 3px rgba(0,0,0,0.3);
    margin: 10px;
    max-width: 400px;
    width: 80vw;
}

.pt_submit {
    background-color: black;
    color: white;
    padding: 10px;
    width: 150px;
    border: none;
    border-radius: 10px;
    margin: 10px;
}

.pt_submit:hover {
    transform: scale(1.1);
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .pt_title {
        font-size: 1.5rem;
        margin: 50px 0px !important;
    }
}